<section>
  <main>
    <header>
      <h1>
        Customer Information
      </h1>
    </header>
    <button (click)="openModal()" class="modal">
      Register Client
    </button>
    <!-- Table section -->
    <div class="table-section">
      <table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of ClientList$; let i = index;">
            <td>{{client.id}}</td>
            <td>{{client.name}}</td>
            <td>{{client.email}}</td>
            <td>{{client.telephone}}</td>
            <td>
              <button (click)="onGetClientByID(client, client.id)">
                <fa-icon [icon]="fawrite"></fa-icon>
              </button>
              <button (click)="onRemove(client.id)">
                <fa-icon [icon]="fabin"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</section>
<router-outlet></router-outlet>


<app-spinner></app-spinner>

