<main>

  <form [formGroup]="AddNewVehicle"(ngSubmit)="addVehicle()">
    <input
            type="text"
            placeholder="Enter Client Id"
            id="cientId"
            formControlName="clientId"
            autocomplete="off"
            required
          /><br />
    <input
          type="text"
          placeholder="Enter Vehicle Name"
          id="vehicleName"
          formControlName="vehicleName"
          autocomplete="off"
          required
        /><br />
    <input
          type="text"
          placeholder="Enter Model"
          id="model"
          formControlName="model"
          autocomplete="off"
          required
        /><br />
    <input
          type="text"
          placeholder="Enter Chassis Number"
          id="chassis"
          formControlName="chassis"
          autocomplete="off"
          required
        /><br />
        <button
          style="width: 50%; margin: auto; display: block; margin-top:1rem"
          [disabled]="!AddNewVehicle"
          type="submit"
        >
          Register Vehicle
        </button>
        <button (click)="reqPayments(10)">
          <fa-icon [icon]="fashop"></fa-icon>
        </button>
        <!-- <div *ngIf="success">
          <h1>Your Payment has been successfull</h1>
        </div>
        <div *ngIf="failure">
          <h1>Payment Error</h1>
        </div> -->
    </form>

</main>
