<main>

  <form [formGroup]="AddNewVehicle"(ngSubmit)="addVehicle()">
    <input
          type="text"
          placeholder="Enter Vehicle Name"
          id="vehicleName"
          [(ngModel)]="vehicleName"
          formControlName="vehicleName"
          autocomplete="off"
          required
        /><br />
        <input
          type="text"
          placeholder="Enter Model"
          id="model"
          [(ngModel)]="model"
          formControlName="model"
          autocomplete="off"
          required
        /><br />
        <input
          type="text"
          placeholder="Enter Phone Chassis Number"
          id="chassis"
          [(ngModel)]="chassis"
          formControlName="chassis"
          autocomplete="off"
          required
        /><br />
        <button
          style="width: 50%; margin: auto; display: block; margin-top:1rem"
          [disabled]="
            id === '' || vehicleName === '' || model === '' || chassis === ''
          "
          type="submit"
        >
          Register Vehicle
        </button>
    </form>

</main>
