h1{
  font-size: 22px;
  margin-bottom: 1rem;
}

table {
  width: 100%;
  background-color: rgb(14, 14, 92);
  color:rgb(247, 190, 85);
  border: 2px solid rgb(14, 14, 92);
  border-radius: 10px;
  padding: 10px;
}

th, tr{
  border-bottom: 2px solid white;
  text-align: left;
}