<main>
  <form [formGroup]="AddNewInvoice" (ngSubmit)="addInvoice()">
    <input
          type="number"
          placeholder="Enter Client ID"
          id="clientId"
          [(ngModel)]="clientId"
          formControlName="clientId"
          autocomplete="off"
          required
        /><br />
      <input
        type="number"
        placeholder="Enter Vehicle ID"
        id="vehicleId"
        [(ngModel)]="vehicleId"
        formControlName="vehicleId"
        autocomplete="off"
        required
      /><br />

      <div formGroupName="items">
        <h3>Item</h3>
        <input type="text"
        id="text"
        [formControlName]="item"
        placeholder="Item Ordered"
        required><br>

<input type="number"
        placeholder="Enter Unit"
        id="unit"
        [formControlName]="unit"
        autocomplete="off"
        required><br>

<input type="number"
        placeholder="Enter Rate"
        id="rate"
        [formControlName]="rate"
        autocomplete="off"
        required><br>

    <input type="number"
        placeholder="Enter Amount"
        id="amount"
        [formControlName]="amount"
        autocomplete="off"
        required><br>
    </div>

    <button
      style="width: 50%; margin: auto; display: block; margin-top:1rem"
      [disabled]="!AddNewInvoice"
    type="submit">
    Add Invoice
  </button>
  </form>
</main>
