<section>
  <header>
    <h1 class="head-text">Overview</h1>
  </header>
    <main>
      <!-- Card section -->
        <section class="card">
          <app-cards>
            <fa-icon [icon]="facar" class="fa-3x"></fa-icon>
            <h5 card-text>Register vehicle for proper documentation</h5>
            <p card-figure> 12</p>
          </app-cards>
          <app-cards>
            <fa-icon [icon]="faclient" class="fa-3x"></fa-icon>
            <h5 card-text>Client's details should be registered</h5>
            <p card-figure>4</p>
          </app-cards>
          <app-cards>
            <fa-icon [icon]="fauser" class="fa-3x"></fa-icon>
            <h5 card-text>Employee's information and roles access</h5>
            <p card-figure>21</p>
          </app-cards>
          <app-cards>
            <fa-icon [icon]="fainvoice" class="fa-3x"></fa-icon>
            <h5 card-text>Invoices and transaction information for vehicles</h5>
            <p card-figure>3</p>
          </app-cards>
        </section>
        <!-- Chart Section -->
        <section class="chart">
          <app-charts></app-charts>
        </section>

        <!-- chat Button -->
        <div class="chat">
          <button
            matTooltip="Send a message"
           (click)="openModal()">
            <fa-icon [icon]="famsg" class="fa-2x"></fa-icon>
          </button>
        </div>

        <!-- Table Section -->
        <section class="tables">
          <!-- <app-tables></app-tables> -->
          <h1>Recent Clients</h1>
            <table class="table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Telephone</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let client of ClientList">
                  <td>{{client.id}}</td>
                  <td>{{client.name}}</td>
                  <td>{{client.email}}</td>
                  <td>{{client.telephone}}</td>
                </tr>
              </tbody>
            </table>
        </section>
    </main>
</section>

<app-spinner></app-spinner>

