@keyframes smoothbounceball{
  from { transform: translate3d(0, 0, 0);}
  to { transform: translate3d(0, 50px, 0);}
}

section{
  height: 100vh;
  width: 90vw;
  color:rgb(255, 165, 0);
  background-image: radial-gradient(rgb(0, 0, 0), rgb(9, 14, 29));
}

main{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction:column;
  overflow-y: scroll;
}

header {
  border-bottom: 2px solid rgb(240, 238, 238);
}
.head-text{
  margin-left: 2rem;
}

header p{
  margin-left: 1rem;
  /* margin-top: .5rem; */
  padding-top: 1rem;
  margin-bottom: 12px;
  font-size: 16px;
}

.card{
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  margin-left: 1rem;
  margin-top: 1rem;
}

.chart{
  background: transparent;
  width: 75%;
  height:max-content;
  margin: 1rem;
  margin-left: 5rem;

}

.chat {
  width: 60px;
  height: 60px;
  background:rgb(14, 14, 92);
  border-radius: 50%;
  text-align: center;
  position: absolute;
  bottom:2rem;
  right: 2rem;
  animation: smoothbounceball 0.5s;
  animation-direction: alternate;
  animation-iteration-count: 5;
}

.chat button{
  background: transparent;
  border:none !important;
  color: rgb(255, 165, 0);
  padding-top: 10px;
  cursor: pointer;
}

.tables {
  width: 85%;
  height:max-content ;
  margin-top: 10rem;
  margin-left:2rem;
  padding: 1.5rem;
  margin-bottom: -5rem;
}

.tables h1{
  font-size: 22px;
  margin-bottom: 1rem;
}

table {
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
  background-color: rgb(14, 14, 92);
  color:rgb(247, 190, 85);
  border: 2px solid rgb(14, 14, 92);
  border-radius: 10px;
  padding: 10px;
}

th, tr{
  border-bottom: 2px solid white;
  text-align: left;
}
