section{
  height: 100%;
  width: 90vw;
  /* overflow-y: scroll; */
  margin-left: .1rem;
  color:rgb(255, 165, 0);
  background-image: radial-gradient(rgb(0, 0, 0), rgb(9, 14, 29));
}

main{
  width: 100%;
  display: flex;
  padding: 10px;
  flex-direction:column;
  overflow-y: scroll;
}

header {
  border-bottom: 2px solid rgb(240, 238, 238);
}

header h1{
  margin-left: 1rem;
  /* margin-top: .5rem; */
  padding-top: 1rem;
  font-size: 24px;
  margin-bottom: 12px;
}

.card{
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  margin-left: 1.5rem;
  margin-top: 1rem;

}

.chart{
  background: transparent;
  width: 75%;
  height:max-content;
  margin: 2rem;
  margin-left: 5rem;
  z-index: 1;

}

.tables {
  width: 85%;
  height:max-content ;
  margin-top: 10rem;
  margin-left:2rem;
  padding: 1.5rem;
  margin-bottom: -5rem;
}

.tables h1{
  font-size: 22px;
  margin-bottom: 1rem;
}

table {
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
  background-color: rgb(14, 14, 92);
  color:rgb(247, 190, 85);
  border: 2px solid rgb(14, 14, 92);
  border-radius: 10px;
  padding: 10px;
}

th, tr{
  border-bottom: 2px solid white;
  text-align: left;
}
