section{
  height: 100%;
  width: 90vw;
  margin-left: .1rem;
  color:rgb(255, 165, 0);
  background-image: radial-gradient(rgb(0, 0, 0), rgb(9, 14, 29));
}

main{
  width: 100%;
  display: flex;
  padding: 10px;
  flex-direction:column;
  overflow-y: scroll;
}

header {
  border-bottom: 2px solid rgb(240, 238, 238);
}

header h1{
  margin-left: 1rem;
  /* margin-top: .5rem; */
  padding-top: 1rem;
  font-size: 24px;
  margin-bottom: 12px;
}

.card{
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  margin-left: 1.5rem;
  margin-top: 1rem;

}

.chart{
  width: 95%;
  height: 350px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.tables {
  width: 85%;
  margin-top: 2rem;
  margin-left:2rem;
  padding: 1.5rem;
  margin-bottom: -5rem;
}
