<main>
  <div class="head">
    <app-user-name (userNameEvent)="userNameUpdate($event)" *ngIf="!userName"></app-user-name>
  </div>
  <div class="container">
    <div class="chatbox">
      <div class="chatbox__user-list">
        <h3>Chats</h3>
        <div class="chatbox__user--active" *ngFor="let user of userList; let i as index" >
          <p>{{ user }}</p>
        </div>
      </div>
      <div class="messages_list">
        <div class="chatbox__messages" *ngFor="let msg of messageList" [ngClass]="{mine: msg.mine}">
          <div class="user-message">
            <div class="message-box">
              <p class="name">{{ msg.userName }}:</p>
              <p class="message">{{ msg.message }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="send-message">
    <input type="text" [(ngModel)]="message">
    <button (click)="sendMessage()">Send</button>
  </div>
</main>
