

<main>

  <section class="form">
    <form [formGroup]="AddNewClient" (ngSubmit)="addClient()">
      <input type="email"
                id="email"
                [(ngModel)]="email"
                formControlName="email"
                placeholder="Enter Email"
                autocomplete="off"
                required><br>
        <input type="text"
                placeholder="Enter Name"
                id="username"
                [(ngModel)]="name"
                formControlName="name"
                autocomplete="off"
                required><br>
        <input type="text"
                placeholder="Enter Phone Number"
                id="phone"
                [(ngModel)]="telephone"
                formControlName="telephone"
                autocomplete="off"
                required><br>
        <button style="width: 50%; margin:auto; display: block; margin-top: 1rem"
                [disabled]="email === '' || telephone === '' ||  name === ''"
                type="submit">Register Client
        </button>
    </form>

  </section>

</main>
