.container {
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1rem;
  color:white;
  background-color: black;
}
/*
.asides{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: inherit;
} */

.log-head {
  background-color: black;
  width: 100vw;
  height: 20%;
  color:white;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

.text-header {
  font-size: 40px;
}

.text-header-3 {
  font-size: 24px;
  color: rgb(170, 167, 180);
}

.text-header-5 {
  color:rgb(194, 193, 193);
  font-size: 16px;
}


img {
  width: 50px;
  height: 50px;
  margin-right: .2rem;
  margin-left: 2.5rem;
}

.special-txt {
  color:rgb(241, 132, 8);
}
.log-parts {
  padding: 1rem;
  height: 600px;
  margin-top: 5px;
  background-image: linear-gradient(-90deg,rgba(31, 31, 114, 0.8), rgb(0, 0, 0)), url('../../../assets/background-img.jpg');
  object-fit:scale-down;
  background-repeat: no-repeat;
}

.log-body {
  margin-top: 8rem;
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  line-height: 2.5rem;
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}

form input {
  background-color: gray;
  border-radius: 5px;
  height: 5vh;
  width:60%;
  margin-bottom: .5rem;
  cursor:default;
}

form input::placeholder {
  color: rgb(223, 223, 223);
  font-weight: 700;
  padding-left: .5rem;
}

button,form button {
  margin-top: 1rem;
  margin-left: 5rem;
  width: 20%;
  height: 4.5vh;
  border-radius: 5px;
  color: blue;
  background-color: orange;
  font-weight: 700;
  cursor:pointer;
}

form button:disabled {
  cursor:not-allowed;
}

form button:hover {
  color: blue;
  background-color: white;
}

/* .alt-btns {
  width: 20%;
  float: right;
  display: flex;
  flex-direction: column;
} */

.guest-btn{
  background-color: white !important;
}

.google-btn{
  background-color: red !important;
}

.facebook-btn{
  background-color: blue !important;
  color: white !important;
}

.alt-btns button:hover{
  background-color: orange !important;
  color: white;
}
