<section class="sidebar">
  <main>
    <header>
      <img src="../../../../assets/engineering-colored.png" alt="dash-logo">
      <h1>NOVA<span class="special-txt">Q</span></h1>
    </header>
    <section class="links">
      <ul>
        <li>
          <fa-icon [icon]="fahome"></fa-icon>
          <a routerLink="home">Home</a>
        </li>
        <li>
          <fa-icon [icon]="faclient"></fa-icon>
          <a routerLink="client">Client</a>
        </li>
        <li>
          <fa-icon [icon]="favehicle"></fa-icon>
          <a routerLink="vehicle">Vehicle</a>
        </li>
        <li>
          <fa-icon [icon]="fainvoice"></fa-icon>
          <a routerLink="invoice">Invoice</a>
        </li>
        <li>
          <fa-icon [icon]="fastaff"></fa-icon>
          <a routerLink="staff">Staffs</a>
        </li>
        <li>
          <fa-icon [icon]="faservice"></fa-icon>
          <a routerLink="service">Service</a>
        </li>
      </ul>
    </section>
  </main>
</section>
