.error-pg {
  color: orange;
  margin-top: 4rem;
  text-align: center;
}

.error-img{
  width: 400px;
  height: 400px;
  object-fit: contain;
}

button {
  background-color: orange;
  color:white;
  font-weight: 700;
  padding: 5px;
  border-radius: 5px;
  border-color: orange;
  width: 60px;
}

a{
  text-decoration: none;
  color:white;
}

button:hover {
  background-color: red;
  color:white;
}
