section{
  height:100vh;
  width: 90vw;
  overflow-y: scroll;
  margin-left: .5rem;
  color:rgb(255, 165, 0);
  background-image: radial-gradient(rgb(0, 0, 0), rgb(9, 14, 29));
}

main{
  width: 100%;
  display: flex;
  padding: 10px;
  flex-direction:column;
  margin-left: 1rem;
  color:rgb(247, 190, 85);
}

main button{
  margin-top: 1rem;
  width: 10%;
  border: 2px solid orange;
  border-radius: 5px;
  padding: 8px;
  background-color: orange;
  color: white;
}

header {
  border-bottom: 2px solid rgb(240, 238, 238);
}



header h1{
  margin-left: 1rem;
  padding-top: 1rem;
  font-size: 24px;
  margin-bottom: 12px;
}

.table-section {
  margin: 2rem;
  width: 90%;
}

table {
  width: 70%;
  height: 100%;
  margin-bottom: 2rem;
  background-color: rgb(14, 14, 92);
  color:rgb(247, 190, 85);
  border: 2px solid rgb(14, 14, 92);
  border-radius: 10px;
  padding: 10px;
}

th, tr{
  border-bottom: 2px solid white;
  /* border-right: 2px solid white; */
  text-align: left;
}

tr{
  padding: 5rem;
  padding-left: .5rem;
  cursor:pointer;
}

tr:hover {
  background-color: rgb(30, 30, 104);
}

td{
  padding: 1rem;
}

