<nav>
  <main>
    <header>
      <h1>NOVAQ's Workspace </h1>
    </header>
    <section class="bar">
      <!-- search bar  icon  here -->
      <input type="search" name="search" id="">
      <fa-icon [icon]="fasearch"></fa-icon>
    </section>
    <section class="config">
      <!-- add Icon here -->
      <fa-icon [icon]="faadd" routerLink="client"></fa-icon>
      <!-- Settings icon here -->
      <fa-icon [icon]="fasettings" routerLink="service"></fa-icon>
      <!-- profile card here -->
      <fa-icon [icon]="faprofile" routerLink="staff"></fa-icon>
    </section>
  </main>
</nav>
